/* line 4, app/assets/stylesheets/articles.scss */
.article-form-title, .lower-links {
  text-align: center;
  margin: 20px;
}

/* line 8, app/assets/stylesheets/articles.scss */
.article-container {
  position: relative;
  display: flex;
  top: 20px;
  width: 98%;
  margin: auto;
}

/* line 15, app/assets/stylesheets/articles.scss */
.article-container .text-content {
  margin-right: 20px;
  flex: 1;
}

/* line 19, app/assets/stylesheets/articles.scss */
.article-container .text-content .article-info {
  color: gray;
  font-style: italic;
}

/* line 23, app/assets/stylesheets/articles.scss */
.article-container .text-content .body-content {
  position: relative;
  text-align: justify;
  margin: 30px 0;
}

/* line 30, app/assets/stylesheets/articles.scss */
.article-container .image-content {
  position: relative;
  flex: 1;
}

/* line 34, app/assets/stylesheets/articles.scss */
.article-container .image-content .article-image {
  width: 100%;
  height: 60vh;
}

/* line 41, app/assets/stylesheets/articles.scss */
.popular-article {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background: center/cover no-repeat;
  font-size: 15px;
  font-weight: 800;
  height: 59vh;
}

/* line 50, app/assets/stylesheets/articles.scss */
.popular-article .popular-title {
  font-size: large;
  padding: 0 10px;
}

/* line 54, app/assets/stylesheets/articles.scss */
.popular-article .popular-title a {
  color: #FD6000;
}

/* line 59, app/assets/stylesheets/articles.scss */
.popular-article .popular-body {
  color: white;
  padding: 10px;
}

/* line 64, app/assets/stylesheets/articles.scss */
.category-container {
  display: flex;
  justify-content: space-around;
}

/* line 68, app/assets/stylesheets/articles.scss */
.category-container .category-item {
  position: relative;
  flex: 1;
  background: center/cover no-repeat;
  height: 32.5vh;
}

/* line 75, app/assets/stylesheets/articles.scss */
.category-container .lower-link {
  position: absolute;
  padding: 3px 5px;
  left: 10px;
}

/* line 81, app/assets/stylesheets/articles.scss */
.category-container .category-link {
  top: 10px;
  border-bottom: 3px solid #ffff01;
}

/* line 86, app/assets/stylesheets/articles.scss */
.category-container .article-link {
  bottom: 20px;
}

/* line 89, app/assets/stylesheets/articles.scss */
.category-container a {
  color: white;
  font-weight: 800;
}
