<div class="article-item article-text">
  <b><%= article.title %></b><br>
  <%= article.body %>
</div>

<div class="article-item article-image">
  <img class="article-item-image" src="<%= image_path article.image %>" alt=<%= article.title %> >
</div>