<main class="category-main-container">
  <h1 class="category-title" >
    <%= @category.name %>
  </h1>

  <div class="articles-container">
  <% @category.articles.each_with_index do |article, index|%>
    <div class="single-article">
      <% if left_image?(index) %>
        <%= render 'card-a', article: article %>
      <% else %>
        <%= render 'card-b', article: article %>
      <% end %>
    </div>
  <% end %>
  </div>

</main>
